spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      data-source-properties:
        prepareThreshold: 0

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: never

jwt:
  secret: ${JWT_SECRET}
  expiration-ms: 1800000

server:
  port: ${PORT:8080}
  forward-headers-strategy: framework

app:
  cookie:
    secure: true
    sameSite: "None"

cloudinary:
  folder: mbplus/prod
